  <head>
{{>title_home}}
  </head>

      {{> nav_admin }}

<div class="container">
  <div class="jumbotron mt-2">
    <h1 class="mt-0 mb-5 text-center">WELCOME ADMIN</h1>
    </div>
      <div class="jumbotron mt-2">
    <h1 class="mt-0 mb-5 text-center">WELCOME ADMIN</h1>
    </div>
      <div class="jumbotron mt-2">
    <h1 class="mt-0 mb-5 text-center">WELCOME ADMIN</h1>
    </div>
      <div class="jumbotron mt-2">
    <h1 class="mt-0 mb-5 text-center">WELCOME ADMIN</h1>
    </div>
</div>
{{> footer }}