{{> title_home }}
{{> nav_admin }}
<script>
function myFunction() {
    alert("Model name aleady exists!");
}
</script>
<script src="node_modules/alert-js/alert.min.js"></script>
<script src="node_modules/ripple-js/ripple.min.js"></script>

<body onload="myFunction()">
{{> create_product_admin }}
</body>
{{> footer }}