<footer id="footer">
    <div class="footer-line " style=" padding-bottom: 0px;">
            <div class="col-md-12 text-center"> © Copyright
              <a href="https://www.google.com/" target="_blank">Lappy Shop</a> All Rights Reserved
              <div class="credits">
              </div>
          </div>
    </div>
</footer>