<!--footer-->
<footer id="footer">
    <div class="footer-line">
      <div class="container">
          <div class="row">
            <div class="col-md-12 text-center"> © Copyright
              <a href="https://www.google.com/" target="_blank">Lappy Shop</a> All Rights Reserved
              <div class="credits">
              </div>
            </div>
          </div>
      </div>
    </div>
</footer><!--footer-->