<div class="container">
  <div class="jumbotron mt-2">
    <h3 class="text-center">Product list</h3>
    <div class="row mx-4">
      {{#each rows}}
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
        <div class="card bg-secondary text-light center">
          <a href="/adminproducts/{{id}}" class="text-light">
            <img class="card-img-top" src="{{picture}}" height="210" width="490">
            <div class="">
                <h6 class="card-title text-center">{{model_name}}</h5>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>