<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
<img src="/icon.png" height="30px">
<a class="navbar-brand">Lappy Shop</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto active">
    <li class="nav-item active dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown">Product
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link active" href="/adminproducts">Product List</a></li>
            <li><a class="nav-link active" href="/adminproductcreate">Create New Product</a></li>
          </ul>
    </li>
{{!--     <li class="nav-item active">
      <a class="nav-link" href="/adminproducts">Product List<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/adminproductcreate">Create New Product<span class="sr-only">(current)</span></a>
    </li> --}}
    <li class="nav-item active">
      <a class="nav-link" href="/adminbrandcreate">Brands<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/admincategorycreate">Categories<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/admincustomers">Customers List<span class="sr-only">(current)</span></a>
    </li>
    {{!-- {{#if admin}} --}}
    <li class="nav-item active">
      <a class="nav-link" href="/adminorders">Orders List<span class="sr-only">(current)</span></a>
    </li>
{{!--     {{/if}}
    {{#if customer}}
    <li class="nav-item active">
      <a class="nav-link" href="/adminorders">Orders List<span class="sr-only">(current)</span></a>
    </li>
    {{/if}} --}}
    </ul> 

    <ul class="nav navbar-nav navbar-right">
{{!--     <li class="nav-item active dropdown">
      <a class="dropdown-toggle nav-link" data-toggle="dropdown">Product<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link active" href="/adminproducts">Product List</a></li>
          <li><a class="nav-link active" href="/adminproductcreate">Create New Product</a></li>
        </ul>
    </li> --}}
    {{#if admin}}
    <li class="nav-item">
      <a class="nav-link">Hello, {{first_name}} :)</a>
    </li>
    {{/if}}
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    </ul>
</div>
</nav>
