{{> title_home }}
{{> nav_customer }}

<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h3>Sign-up</h3>
    <form method="POST" action="/signup/{{rows.id}}">
      <div class="control-label">

            <div class="form-group">
              <label class="control-label" for="firstname">First Name</label>
              <div>
                <input id="firstname" name="firstname" type="text" placeholder="First Name" class="form-control" required="" >
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="lastname">Last Name</label>
              <div>
                <input id="lastname" name="lastname" type="text" placeholder="First Name" class="form-control" required="" >
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <div>
                <input id="email" name="email" type="text" placeholder="email@email.com" class="form-control" required="" >
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="password">Password</label>
              <div>
                <input id="password" name="password" type="password" placeholder="Password" class="form-control" required="" ="" >
              </div>
            </div>

            <div class="form-group">
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form">Sign-up</button>
              </div>
            </div>
      </div>
    </form>
  </div>
</div>
<div class="extra">
</div>
{{> footer }}